Repository vi-nastya/slider-test-task: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add fonts
  src/styles/fonts.scss
  src/styles/variables.scss
Due: stylelint --fix

feat: add slider
  src/components/pages/features/features-list/feature-buttons/feature-button/feature-button.jsx
  src/components/pages/features/features-list/feature-buttons/feature-button/feature-button.module.scss
  src/components/pages/features/features-list/feature-buttons/feature-button/index.js
  src/components/pages/features/features-list/feature-buttons/feature-buttons.jsx
  src/components/pages/features/features-list/feature-buttons/feature-buttons.module.scss
  src/components/pages/features/features-list/feature-buttons/index.js
  src/components/pages/features/features-list/feature-card/feature-card.jsx
  src/components/pages/features/features-list/feature-card/feature-card.module.scss
  src/components/pages/features/features-list/feature-card/index.js
  src/components/pages/features/features-list/features-list.jsx
  src/components/pages/features/features-list/features-list.module.scss
  src/components/pages/features/features-list/index.js
  src/components/shared/link/link.jsx
  src/images/pages/features/background/shape-left.svg
  src/images/pages/features/background/shape-right.svg
  src/images/pages/features/capacity.png
  src/images/pages/features/communication.png
  src/images/pages/features/icons/capacity.inline.svg
  src/images/pages/features/icons/communication.inline.svg
  src/images/pages/features/icons/management.inline.svg
  src/images/pages/features/icons/schedule.inline.svg
  src/images/pages/features/management.png
  src/images/pages/features/schedule.png
  src/layouts/main/main.jsx
  src/pages/index.jsx
  src/pages/page-2.jsx
Due: prettier --write, stylelint --fix, eslint --cache --fix

feat(slider): add dots background
  src/components/pages/features/features-list/feature-buttons/feature-buttons.module.scss
  src/components/pages/features/features-list/feature-card/feature-card.jsx
  src/components/pages/features/features-list/feature-card/feature-card.module.scss
  src/components/pages/features/features-list/features-list.jsx
  src/components/pages/features/features-list/features-list.module.scss
  src/images/pages/features/background/dot-pattern.svg
Due: prettier --write, stylelint --fix, eslint --cache --fix

feat(slider): update styles
  src/components/pages/features/features-list/feature-buttons/feature-button/feature-button.jsx
  src/components/pages/features/features-list/feature-buttons/feature-button/feature-button.module.scss
  src/components/pages/features/features-list/feature-buttons/feature-buttons.module.scss
  src/components/pages/features/features-list/feature-card/feature-card.module.scss
  src/components/pages/features/features-list/features-list.module.scss
Due: prettier --write, stylelint --fix, eslint --cache --fix

refactor: render buttons in FeatureList component to avoid data duplication
  src/components/pages/features/features-list/feature-button/feature-button.jsx
  src/components/pages/features/features-list/feature-button/feature-button.module.scss
  src/components/pages/features/features-list/feature-button/index.js
  src/components/pages/features/features-list/feature-buttons/feature-buttons.jsx
  src/components/pages/features/features-list/feature-buttons/feature-buttons.module.scss
  src/components/pages/features/features-list/feature-buttons/index.js
  src/components/pages/features/features-list/features-list.jsx
  src/components/pages/features/features-list/features-list.module.scss
Due: prettier --write, stylelint --fix, eslint --cache --fix

refactor: minor misc improvements
  src/components/pages/features/features-list/feature-button/feature-button.jsx
  src/components/pages/features/features-list/feature-button/feature-button.module.scss
  src/components/pages/features/features-list/feature-card/feature-card.jsx
  src/components/pages/features/features-list/feature-card/feature-card.module.scss
  src/components/pages/features/features-list/features-list.jsx
Due: prettier --write, stylelint --fix, eslint --cache --fix

feat: add ANIMATION_DURATION_MS constant to control slider speed
  src/components/pages/features/features-list/feature-button/feature-button.jsx
  src/components/pages/features/features-list/feature-card/feature-card.jsx
Due: prettier --write, eslint --cache --fix

refactor: use button tag for slider buttons
  src/components/pages/features/features-list/feature-button/feature-button.jsx
  src/components/pages/features/features-list/feature-button/feature-button.module.scss
  src/styles/app.scss
  src/styles/mixins.scss
Due: prettier --write, stylelint --fix, eslint --cache --fix

feat: trigger images upload on start
  src/components/pages/features/features-list/features-list.jsx
Due: prettier --write, eslint --cache --fix

refactor: update font colors and alternative font-families
  src/components/pages/features/features-list/feature-button/feature-button.module.scss
  src/components/pages/features/features-list/feature-card/feature-card.module.scss
  src/styles/variables.scss
Due: stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,md}
  stylelint --fix: any of: *.{css,scss}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
